body {
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;
    background-color: #ffe6f2; /* Pink aesthetic */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #f775a9;
}

.button-container {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin: 10px;
    transition: 0.3s;
}

#yesButton {
    background-color: #ff66a3;
    color: white;
}

#yesButton:hover {
    background-color: #ff3385;
}

#noButton {
    background-color: #999;
    color: white;
    position: absolute;
}

.next-button2 {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ff99cc; /* Warna pink aesthetic */
    color: white;
    padding: 12px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.next-button2:hover {
    background-color: #ff66a3; /* Warna lebih gelap saat di-hover */
}
